@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply border-2 border-blue-600 rounded-full text-gray-600 font-semibold uppercase text-sm py-2 px-3;
    }

    .btn-hover {
        @apply hover:bg-blue-600 hover:text-white transition ease-in-out duration-150;
    }

    .card {
        @apply bg-white rounded-lg shadow-md overflow-hidden;
    }
}